<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Platos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-row>
      <ion-col size="12" *ngFor="let comida of comidas">
        <ion-card>
          <img [src]="comida.imagen" />
          <ion-card-content>
            <ion-card-title>{{ comida.titulo }}</ion-card-title>
            <p>{{ comida.descripcion }}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
