<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Bienvenido a Receteichon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Receteichon es una pagina donde encontraras muchas recetas y comidas</p>

  <ion-button color="dark" [routerLink]="['/recetas']">recetario</ion-button>

  <ion-button color="dark" [routerLink]="['/inisesion']">Iniciar sesion</ion-button>

  <ion-button color="dark" [routerLink]="['/formulario']">Crear cuenta</ion-button>

</ion-content>

