ion-content {
    --background: none; /* Asegura que no haya un fondo predeterminado de Ionic */
    background-image: url('/assets/img/fondo1.jpg'); /* Ruta de la imagen */
    background-size: cover;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: flex-start; /* Alinea el contenido al principio (superior) */
    padding: 20px; /* Añade espacio alrededor del contenido */
    height: 100vh; /* Asegura que el contenido ocupe toda la altura de la vista */
  
    p {
      margin: 0 auto; /* Centra el párrafo horizontalmente */
      padding: 10px; /* Añade espacio alrededor del párrafo */
      width: 80%; /* Ajusta el ancho del párrafo para que no ocupe todo el ancho */
      text-align: center; /* Alinea el texto del párrafo al centro */
      color: white;
      background-color: rgba(0, 0, 0, 0.7); /* Fondo negro con opacidad */
      border-radius: 5px; /* Esquinas redondeadas del cuadro */
    }
  }
  