<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Bienvenido {{ Usuario.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button color="dark" [routerLink]="['/recetas']">recetario</ion-button>

  <ion-button color="primary" [routerLink]="['/inisesion']">iniciar sesion</ion-button>

  <ion-button color="warning" [routerlink]="['/formulario']">Crear cuenta</ion-button>

</ion-content>
