<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>

      <img [src]="foto.imagen" alt="200" width="200" class="centered-image"/>

      <ion-item>
        <ion-input label="Correo E-mail" type="email" placeholder="recetario@correo.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Contraseña" type="password"></ion-input>
      </ion-item>

    </ion-list>
  </ion-list>
</ion-content>