<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Crear una cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="formularioRegistro" (ngSubmit)="crearCuenta()">
    <ion-list>

      <img [src]="foto.imagen" alt="200" width="200" class="centered-image"/>

      <ion-item>
       <ion-input formControlName="nombreUsuario" label="Nombre Usuario" placeholder="Nombre"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="esCampoInvalido('nombreUsuario')">
        <p>El nombre debe iniciar con mayúscula y tener entre 6 y 13 caracteres.</p>
      </ion-text>

      <ion-item>
      <ion-input formControlName="contrasena" label="Contraseña" type="password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="esCampoInvalido('contrasena')">
        <p>La contraseña debe tener mayúsculas, minúsculas, números, símbolos y al menos 8 caracteres.</p>
      </ion-text>

      <ion-item>
      <ion-input formControlName="correo" label="Correo E-mail" type="email" placeholder="recetario@correo.com"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="esCampoInvalido('correo')">
        <p>El correo es requerido y debe tener un formato válido.</p>
      </ion-text>

      <ion-item>
      <ion-input formControlName="numeroTelefonico" label="Número Telefónico" type="tel" (input)="formatearNumeroTelefonico($event)" placeholder="123-456-789"></ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="esCampoInvalido('numeroTelefonico')">
        <p>El número debe tener el formato 123-456-789.</p>
      </ion-text>


      <ion-item class="button-container">
        <ion-button color="dark" type="submit">Crear cuenta</ion-button>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
